<div class="social-links">

    <div class="social-item">
        <div class="social-icon">✉️</div>
        <a href="mailto:isbarofoundation@outlook.com"
           class="social-link">
            isbarofoundation@outlook.com
        </a>
    </div>

    <div class="social-item">
        <div class="social-icon">
            <img src="/static/tiktok.png" alt="TikTok">
        </div>
        <a href="https://www.tiktok.com/@isbarofoundation"
           class="social-link"
           target="_blank">
            tiktok.com/@isbarofoundation
        </a>
    </div>

    <div class="social-item">
        <div class="social-icon">
            <img src="/static/instagram.png" alt="Instagram">
        </div>
        <a href="https://www.instagram.com/isbarofoundation"
           class="social-link"
           target="_blank">
            instagram.com/isbarofoundation
        </a>
    </div>

    <!-- NIEUW -->
    <div class="social-item">
        <div class="social-icon">🤝</div>
        <a href="/vrijwilligers" class="social-link">
            Vrijwilliger worden
        </a>
    </div>

</div>
